<h1><%= @school_class.title %></h1>
<p>Room number: <%= @school_class.room_number %></p>

<%= link_to 'Edit this class', edit_school_class_path %>
<br>
<%= link_to 'List all classes', school_classes_path %>